<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542898954701-u9uh59o2uv5t6kpoogkpdkd6vegb68tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542898954701-u9uh59o2uv5t6kpoogkpdkd6vegb68tt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>542898954701-ip5u4isttkcvatou1uf3b5i7olrdu366.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbJJHUbUiFnB-CjWjWQkjpHSOmupt5IQg</string>
	<key>GCM_SENDER_ID</key>
	<string>542898954701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anncode.platzitripsflutter</string>
	<key>PROJECT_ID</key>
	<string>platzitripsflutter-cf1b1</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitripsflutter-cf1b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542898954701:ios:c34e26ee09a1f87bf12484</string>
	<key>DATABASE_URL</key>
	<string>https://platzitripsflutter-cf1b1.firebaseio.com</string>
</dict>
</plist>